<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animations.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Genos:wght@300;400;500&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <div class="bg-img"></div>
        <div class="content">
            <div class="navbar">
                <h1 id="logo">STORYLINE</h1>
                <ul>
                    <li><a href="#">AUTHOR</a></li>
                    <li><a href="#">INFO</a></li>
                </ul>
            </div>
            <div class="description">
                <h1 id="title">DESOLATION</h1>
                <p>Begin a journey with one of the most hated sorcerers in a total-desolate, post-apocalyptic world of abomination.</p>
            </div>

        </div>
    </header>



    <script src="/js/index.js"></script>
    
</body>
</html>