
.bg-img-2 {
    animation-duration: 60s;
    animation-name: move-bg;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes move-bg {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */