
:root {
    --bg-img-header: url('../img/drgn.jpg');

    --text-color: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 0%);
}

html {
    box-sizing: border-box;
    cursor: default;
}


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    outline: inherit;
    color: inherit;
}

body {
    height: fit-content;
    width: 100%;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-size: 1rem;
    font-family: 'Bruno Ace SC', 'Genos', 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    line-height: 2rem;

    display: grid;
    place-items: center;

    overflow-x: hidden;
}

body #container {
    width: 80vw;
    max-width: 1228px;
    margin-bottom: 77px;

}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Genos', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


header {
    height: 792px;
    position: relative;
}
header .bg-img {
    height: 100%;
    width: calc(100% + 308px);

    position: absolute;
    top: 0;
    left: -154px;

}
header .bg-img-1 {

    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%),
        var(--bg-img-header);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header .content {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
}
#logo,
#title {
    font-family: 'Bruno Ace SC', 'Genos', 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}
#logo {
    font-size: 2rem;
}
#title {
    font-size: 7rem;

    transition: opacity 1s linear;
}

header .navbar {
    height: 10%;

    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

    .navbar ul li {
        margin: 0 0 0 5rem;
    }

header .description {
    position: absolute;
    top: 25%;
    right: 0;

    height: 100%;
    width: 100%;

    text-align: center;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.scroll-down {
    position: absolute;
    bottom: 2.5%;
    left: 50%;

    display: flex;
    flex-direction: column;

    height: 64px;
    width: 2rem;

    overflow-y: hidden;


    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;

    z-index: 10;
}
.scroll-down img {

    height: 100%;
    width: 100%;
}


@media (max-width: 1400px) {
    header {
        height: 100vh;
    }
}

@media (max-width: 1100px) {
    header .description {
        top: 10%;
    }
    #title {
        font-size: 2.5rem;
    }
}

