
:root {
    --bg-img-header: url('../img/drgn1-uscld.jpg');

    --text-color: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 0%);
}

html {
    box-sizing: border-box;

    outline: 1px dotted blue;
}


*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    outline: inherit;
    color: inherit;
}

body {
    height: fit-content;
    width: 100%;

    background-color: var(--bg-color);
    color: var(--text-color);

    font-size: 1rem;
    font-family: 'Bruno Ace SC', 'Genos', 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Genos', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


header {
    height: 100vh;
    position: relative;

    overflow: hidden;
}
header .bg-img {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}
header .bg-img-1 {

    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%),
        var(--bg-img-header);
    background-repeat: repeat;
    background-size: 67%;
    background-position-x: center;
}
header .bg-img-2 {

    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.67)50%, rgba(0, 0, 0, 0.67)50%),
        var(--bg-img-header);
    background-repeat: no-repeat;
    background-size: 67%;
    background-position-x: center;
}
header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: 0 110px;
}
#logo,
#title {
    font-family: 'Bruno Ace SC', 'Genos', 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}
#logo {
    font-size: 2rem;
}
#title {
    font-size: 3rem;
}

header .navbar {
    height: calc(100vh * 0.1);

    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

    .navbar ul li {
        margin: 0 5rem;
    }

header .description {
    height: calc(100vh * 0.9);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}
header .description p {
    margin: 5rem 0;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

