
:root {
    --bg-img-creature: url('../img/creature.jpg');
    --bg-img-throne: url('../img/throne.jpg');
    --bg-img-hunter: url('../img/hunter.jpg');
}

main section {
    height: 90vh;
    width: 100%;
    overflow: hidden;
}
.container-grid {
    height: 100%;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

#body-description-top,
#body-description-mid,
#body-description-bottom {
    position: relative;
}

.body-bg-img-creature {
    right: 0;
    background: var(--bg-img-creature);
}
.body-bg-img-throne {
    left: 0;
    background: var(--bg-img-throne);
}
.body-bg-img-hunter {
    right: 0;
    background: var(--bg-img-hunter);

}
.body-bg-img-creature,
.body-bg-img-throne,
.body-bg-img-hunter {
    position: absolute;
    top: 0;

    aspect-ratio: 1/1;

    height: 90vh;

    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
}